@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  width: 100%;
  margin: 0.3rem;
  padding: 0;
  background: #eaf5ff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  --webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
}

.overview-legend {
  margin: 0 0.5rem;
  color: #f9f9f9;
  font-size: 1.05rem;
}

ul > li > .recharts-surface {
  width: 2rem;
  height: 1.5rem;
}

@media (max-width: 1080px) {
  body {
    width: 99.5%;
    margin: 0;
    background: #eaf5ff;
  }
  tspan {
     display: none;
  }
  .overview-legend {
    position: relative;
    margin: 0 0.1rem;
    right: 1rem;
    color: #f9f9f9;
    font-size: 0.8rem;
  }
  ul > li > .recharts-surface {
    position: relative;
    height: 0.9rem;
    width: auto;
    right: 1rem;
  }
}
